<h1 class="page-title">Danh sách khoản mua</h1>

<div class="row">
  <div class="col-md-12">
    <%= form_tag purchases_path, method: :get do %>
      <div class="form-group">
        <div class="form-inline">
          <div class="input-group">
            <%= text_field_tag :month,
              params[:month] || Time.zone.today.strftime("%m/%Y"),
              class: "form-control month-picker submit-on-change",
              placeholder: "Chọn tháng", autocomplete: :off %>
            <span class="input-group-btn">
              <%= button_tag name: "", class: "btn btn-default" do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
          </div>
          <%= link_to new_purchase_path,
            class: "btn btn-primary pull-right" do %>
            <i class="fa fa-plus"></i> Thêm mới
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <div class="content">
      <table class="table table-hovered table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Người mua</th>
            <th class="text-center">Ngày mua</th>
            <th class="text-center">Số tiền</th>
            <th class="text-center">Nội dung</th>
            <th class="text-center">Chia cho</th>
            <th class="text-center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <% if @purchases.any? %>
            <%= render @purchases %>
          <% else %>
            <tr>
              <td colspan="7">Chưa có khoản mua nào</td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="text-bold">
            <td colspan="3" class="text-right">Tổng:</td>
            <td class="text-right"><%= number_to_currency @total_amount %></td>
            <td colspan="3"></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-hovered table-bordered table-striped">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center"></th>
          <th class="text-center">Tiền chi</th>
          <th class="text-center">Tiền tiêu</th>
          <th class="text-center">Còn dư</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each.with_index 1 do |user, index| %>
          <tr>
            <td class="text-right"><%= index %></td>
            <td><%= user.name %></td>
            <td class="text-right text-bold">
              <%= number_to_currency(x = user.amount_purchased_in_month(params[:month])) %>
            </td>
            <td class="text-right text-bold">
              <%= number_to_currency(y = user.all_amount_in_month(params[:month])) %>
            </td>
            <td class="text-right text-bold">
              <%= number_to_currency(x - y) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
