<!DOCTYPE html>
<html>
  <head>
    <title>202</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <%= render "layouts/navbar" %>
      </header>
      <div class="container">
        <div class="flash-errors">
          <% flash.each do |message_type, message| %>
            <div class="autohide alert alert-<%= message_type %>">
              <%= message.html_safe %>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
